@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


h1 {
  margin: 25px;
  max-width: 90%;
  color: #330c53;
  font-family: Montserrat, sans-serif;
}

p {
  color: #d6d6d6;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  margin-left: 5px;
  padding: 10px;
}


body{
  background:rgb(24, 24, 24);
}

.center{
  top:0px;
  width: 100%;
  height: 120px;
  background: #09b794;
}