@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body{
  background:linear-gradient(45deg,#058ae5,#09b794);
  min-height: 100vh;
}

h2 {
    color: white;
    font-family: Montserrat, sans-serif;
}

h3 {
    color: white;
    font-family: Montserrat, sans-serif;
}

.nav_btn{
    font-family: "Montserrat", sans-serif;
    color: white;
}

table {
    margin: auto;
    width: auto;
    min-width:35%;
    max-width:100%;
    font-family: "Montserrat", sans-serif;
    background: #abddfe;
    border-radius: 12px;
    box-shadow: 4px 4px 6px rgba(102, 101, 101);
    border-collapse: collapse;
    overflow: hidden;
}

th {
    padding: 0px;
    text-align: center;
    color: white;
    font-family: "Montserrat", sans-serif;
}

td {
    padding: 10px;
    font-size: 15px;
    text-align: center;
    color: #330c53;
}

tr:nth-child(even) {
      background-color: #d4eeff;
}

tr:nth-child(1) {
      background-color: #330c53;
}


.project-link{
    font-family: "Montserrat", sans-serif;
    color: #04987a;	
}